node_modules/
dist/
drizzle/
.env
*.log
bun.lockb
# ELYSIA_PORTO_GUIDELINES.md                                                                                                                                                                                           
# CLAUDE.md                                                                                                                                                                                                               
# engineeringlog/
.kiro/                                                                                                                                                                                                                
.vscode/
PRDs-OLD/
ADR.md